@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
p {
  font-weight: 550;
  color: #f0f6fc;
  cursor: default;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #18181a;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  right: 0;
  width: 100%;
  top: 0;
  background-color: #18181a;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1;
}
header .logo {
  width: 20%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
header .logo .portfolio {
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 1000;
  font-family: "Josefin Sans", sans-serif;
}
header .logo .portfolio span {
  font-weight: 550;
}
header .menu {
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center;
}
header .menu .menu-item {
  display: flex;
}
header .menu .menu-item .text-1 {
  color: #f0f6fc;
  cursor: pointer;
  font-weight: 550;
}
header .menu .menu-item .text-1:hover {
  color: #407ce8;
  transition: 0.3s;
  transform: scale(1.04);
}
header .avatar {
  display: flex;
  align-items: center;
}
header .avatar img {
  border-radius: 50%;
  cursor: pointer;
}

.section1 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.section1 .big {
  width: 90%;
  font-weight: 550;
  margin: auto;
}
.section1 .big .header-text {
  font-size: 15px;
  color: #f0f6fc;
  letter-spacing: 2px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #f0f6fc;
}
.section1 .big .header-text2 {
  display: flex;
  color: #f0f6fc;
  margin: 20px 0 20px;
}
.section1 .big .header-text2 .header-text3 {
  color: #407ce8;
  margin-left: 30px;
}
.section1 .big .input {
  position: relative;
}
.section1 .big .input .ner-2 {
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #407ce8;
  outline: none;
  border-radius: 30px;
  color: #040d21;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}
.section1 .big .input .cheker {
  position: absolute;
  top: 6px;
  right: 6px;
}
.section1 .big .input .submit {
  background-color: #407ce8;
  cursor: pointer;
  color: #f0f6fc;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  font-size: 10px;
}
.section1 .big .input .nice {
  display: none;
  font-weight: 550;
  background-color: #407ce8;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  top: 60px;
  right: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: default;
}

#check1 {
  display: none;
}

#check1:checked ~ .nice {
  display: block !important;
}

span {
  color: #407ce8;
}

.section2 {
  width: 100%;
  height: unset;
  background-color: #fff;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  padding-bottom: 20px;
}
.section2 .big {
  padding-right: 8%;
  padding-left: 8%;
  width: 90%;
  margin: auto;
}
.section2 .big .header-text4 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #18181a;
}
.section2 .big .middle-text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #18181a;
}
.section2 .big .contact1 {
  display: flex;
  margin-top: 35px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section2 .big .contact1 .bg-clr {
  background-color: #407ce8;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.section2 .big .contact1 .bg-clr:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.section2 .big .contact1 .contact2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.section2 .big .contact1 .contact2 i {
  color: #fff;
}
.section2 .big .fav {
  margin-top: 30px;
  border-top: 2px dashed #f0f6fc;
}
.section2 .big .fav p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 10px;
  color: #18181a;
}
.section2 .big .fav .father {
  display: flex;
  margin-top: 20px;
}
.section2 .big .fav .father .child {
  width: 25%;
  margin-left: 20px;
  /* border: 1px solid #888; */
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.section2 .big .fav .father .child:hover{
  background-color: rgb(43 40 40);
  transition: 0.4s;
}

.section2 .big .fav .father .child:hover .text{
  transform: scale(1.2);
  transition: 0.5s;
}
.section2 .big .fav .father .child:hover .text p{
  color: #f3f3f3;
}
.section2 .big .fav .father .child:hover .small .squirrel-svg path{
  fill: white;
}
.section2 .big .fav .father .child .text{
  padding: 10px;
  display: -webkit-box;
  flex-wrap: wrap;
  -webkit-box-orient: 11;
  overflow: hidden;
}
.section2 .big .fav .father .child .text .dood{
  color: #18181a;
  font-size: 15px;
}
.deed{
  padding-left: 5px;
  padding-right: 5px;
}
.zurag{
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.section2 .big .fav img {
  width: 70px;
  border-radius: 5px;
  height: 30px;
}
.father{
  margin-top: 40px!important;
}
.contact {
  width: 100%;
  position: relative;
}
.contact .big {
  padding: 5%;
  width: 100%;
  height: 100%;
}
.contact .big .header-text6 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.contact .big .header-text6 .header-textt {
  font-size: 25px;
}
.contact .big .inside .child {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contact .big .inside .child .top {
  margin-top: 20px;
  display: inline-block;
  margin-left: 10px;
}
.contact footer {
  display: flex;
  justify-content: center;
  height: 40px;
  border-top: 3px solid #407ce8;
}
.contact footer p {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
}/*# sourceMappingURL=style.css.map */
header{
  background-color: #18181a;
  border-bottom: 1px solid #888;
}
.small{
  width: 100%;
  height: 50px;
}
.squirrel-svg{
  width: 100%;
  height: 100%;
}
.skill{
  width: 100%;
  height: 100vh;
}
.header-textt{
  color: #18181a;
}
.contact{
  background-color: #f0f6fc;
}
.contact .top{
  color: #18181a;
}
.erh{
  color: #18181a;
}
.skill .big{
  width: 80%;
  margin: auto;
}
.header-text0{
  text-align: center;
  margin-top: 10%;
}
.header-text0 .ded{
  font-size: 40px;
}
.dod{
  text-align: center;
  color: #407ce8;
}
.stats{
  width: 100%;
}
.stats .child{
  display: flex;
  justify-content: center;
}
.stats .child .big{
  margin-top: 50px;
  text-align: center;
}
.too{
  font-size: 60px;
  text-align: center;
  font-weight: 500;
}
.ner{
  text-align: center;
  font-size: 25px;
  margin-left: -25px;
}
.ner-1{
  font-size: 20px;
  margin-top: 10px;
}
.child00{
  margin-top: 40px;
}
.gold{
  color: #e2ff74;
}
.exp{
  color: #b162c0;
}
.expert{
  font-size: 30px;
  line-height: 30px;
}
.erj{
  margin-top: 15px;
  font-size: 17px;
  line-height: 25px;
}

.inside .top{
  display: flex!important;
  align-items: center;
}
.contact1{
  display: flex;
  margin-top: 35px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contact2{
  display: flex;
  gap: 10px;
  align-items: center;
}
.bg-clr{
  background-color: #407ce8;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.bg-clr:hover{
  transform: scale(1.1);
  transition: 0.2s;
}
.contact2 i{
  color: #fff;
}
@keyframes zurag  {
  100%{
    scale: 1.05;
  }
}
@keyframes test {
    
  12.5%{
      transform: rotate(90deg) scale(1.1);
      background-color: red;
  }
  25%{
      transform: rotate(180deg) scale(1.2);
      background-color: brown;
  }
  37.5%{
      transform: rotate(270deg) scale(1.3);
      background-color: aquamarine;
  }
  50%{
      transform: rotate(360deg) scale(1.4);
      background-color: blue;
  }
  62.5%{
      transform: rotate(270deg) scale(1.3);
      background-color: purple;
  }
  75%{
      transform: rotate(180deg) scale(1.2);
      background-color: palevioletred;
  }
  87.5%{
      transform: rotate(90deg) scale(1.1);
      background-color: chocolate;
  }
  100%{
      transform: rotate(0deg) scale(1);
      background-color: #407ce8;
  }
}
#check1:checked ~ .nice{
  animation: test 1s;
}
.portfolio{
  cursor: pointer;
}

.menu{
  display: none!important;
}
.avatar{
  display: none!important;
}
.barss{
  display: flex;
  align-items: center;
  font-size: 20px;
}
.dropper{
  display: none;
  position: absolute;
  top: 82px;
  background-color: #161616;
  width: 375px;
  padding: 15px;
  right: 0;
}
.dropper .menu-item{
  padding: 10px;
  width: 100%;
  border-bottom: 2px dashed rgba(204, 204, 204, 0.2) ;
}
.menu-item:hover{
  color: #407ce8;
  transition: 0.3s;
  transform: scale(1.04);
}
#check2:checked ~.fa-bars{
  display: none;
}
#check2:checked ~.close{
  display: block;
}
#check2{
  display: none;
}
#check2:checked ~.dropper{
  display: inline-block!important;
}
.close{
  display: none;
}
.barss i{
  color: #fff;
}
@media screen and (min-width:768px) {
  .barss{
    display: none;
  }
  .menu{
    display: flex!important;
  }
  .avatar{
    display: flex!important;
  }
  .skill{
    height: 100vh!important;
    padding-bottom: 0!important;
  }
  .contact{
    height: 100vh!important;
    padding-bottom: 0!important;
  }
  .section1{
    height: 100vh!important;
    padding-bottom: 0!important;
  }
}
@media screen and (min-width:540px) {
  header{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section2 .big .fav .father .child{
    width: 33%;
  }
  .bye-1{
    display: block!important;
  }
  .section1 .big .header-text2{
    font-size: 35px;
  }
}
@media screen and (min-width:1200px) {
  .section2{
    height: 100vh;
    padding-bottom: 0;
  }
}
@media screen and (min-width:768px) {
  .bye{
    display: block!important;
  }
  .section1 .big .header-text2{
    font-size: 55px;
  }
}
.bye{
  display: none;
}
.bye-1{
  display: none;
}
.section2 .big .fav .father .child{
  width: 50%;
}
.section1 .big .header-text2{
  font-size: 20px;
}
.skill{
  height: unset;
  padding-bottom: 20px;
}
.section1{
  padding-bottom: 20px;
}
.contact{
  padding-bottom: 20px;
}