@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import '_mix.scss';
@import '_var.scss';
p{
    font-weight: 550;
    color: #f0f6fc;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #18191A;
}
a{
    text-decoration: none;
    color: unset;
}
header{
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    right: 0;
    width: 100%;
    top: 0;
    background-color: #18191A;
    padding-bottom: 30px;
    z-index: 1;
    padding-top: 30px;
    .logo{
        width: 20%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        .portfolio{
            font-size: 35px;
            letter-spacing: 1px;
            font-weight: 1000;
            font-family: 'Josefin Sans', sans-serif;
            span{
                font-weight: 550;
            }
        }
    }
    .menu{
        display: flex;
        justify-content: space-around;
        width: 70%;
        align-items: center;
        .menu-item{
            display: flex;
            .text-1{
                color: #f0f6fc;
                cursor: pointer;
                font-weight: 550;
            }
            .text-1:hover{
                color: #407ce8;
                transition: 0.3s;
                transform: scale(1.04);
            }
        }
    }
    .avatar{
        display: flex;
        align-items: center;
        img{
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
.section1{
    
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #040d21;
    display: flex;
    align-items: center;
    .big{
        width: 90%;
        font-weight: 550;
        margin: auto;
        .header-text{
            font-size: 15px;
            color: #f0f6fc;
            letter-spacing: 2px;
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 2px dashed $text-white;
        }
        .header-text2{
            font-size: 55px;
            display: flex;
            color: #f0f6fc;
            margin: 20px 0 20px ;
            .header-text3{
                color: $text-blue;
                margin-left: 30px;
            }
        }
        .input{
            position: relative;
            .ner{
                width: 100%;
                padding: 14px 130px 14px 15px;
                border: 2px solid $text-blue;
                outline: none;
                border-radius: 30px;
                color: #040d21;
                box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
            }
            .cheker{
                position: absolute;
                top: 6px;
                right: 6px;
            }
            .submit{
                background-color: $text-blue;
                cursor: pointer;
                color: #f0f6fc;
                padding: 10px ;
                outline: none;
                border: none;
                border-radius: 30px;
                box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
                font-size: 10px;
            }
            .nice{
                display: none;
                font-weight: 550;
                background-color: $text-blue;
                padding: 10px;
                border-radius: 20px;
                position: absolute;
                top: 60px;
                right: 10px;
                width: max-content;
                cursor: default;
            }
        }
    }
}
#check1{
    display: none;
}
#check1:checked ~.nice{
    display: block!important;
}
span{
    color: $text-blue;
}
.small{
    width: 100%;
    height: 50px;
    .squirrel-svg{
        width: 100%;
        height: 100%;
    }
}
.section2{
    width: 100%;
    height: 100vh;
    position: relative;
    
    background-size: cover;
    background-position: center;
    .big{
        position: absolute;
        top: 20%;
        left: 8%;
        padding-right: 8%;
        .header-text4{
            margin-bottom: 20px;
            font-size: 40px;
        }
        .middle-text{
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
        }
        .contact1{
            display: flex;
            margin-top: 35px;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .bg-clr{
                background-color: #f9004d;
                padding: 10px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
            }
            .bg-clr:hover{
                transform: scale(1.1);
                transition: 0.2s;
            }
            .contact2{
                display: flex;
                gap: 10px;
                align-items: center;
                i{
                    color: #fff;
                }
            }
        }
        .fav{
            margin-top: 30px;
            border-top: 2px dashed #f0f6fc;
            p{
                display: flex;
                justify-content: center;
                font-size: 25px;
                margin-top: 10px;
            }
            .father{
                display: flex;
                margin-top: 40px;
                .child{
                    width: 33%;
                    display: flex;
                    justify-content: center;
                }
                .small{
                    width: 100%;
                    height: 50px;
                }
                .squirrel-svg{
                    width: 100%;
                    height: 100%;
                }
            }
            img{
                width: 100px;
            }
        }
    }
}
.contact{
    width: 100%;
    position: relative;
    .big{
        padding: 5%;
        width: 100%;
        height: 100%;
        .header-text6{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            .header-textt{
                font-size: 25px;
            }
        }
        .inside{
            .child{
                width: 100%;
                display: flex;
                justify-content: space-around;
                .top{
                    margin-top: 20px;
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
        
    }
    footer{
        display: flex;
        justify-content: center;
        height: 40px;
        border-top: 3px solid #407ce8;
        p{
            display: flex;
            align-items: center;
        }
    }
}
@media screen and (max-width: 768px) {
    .big{
        left: 5%!important;
        .header-text2{
            font-size: 35px!important;
        }
    }
    .section2{
        .big{
            top: 10%!important;
        }
    }
}